<div class="week_view">
    <ul>
        <li>
            <a ng-click="index.whatDay('Monday')">
                <p>Monday</p>
            </a>
        </li>
        <li>
            <a ng-click="index.whatDay('Tuesday')">
                <p>Tuesday</p>
            </a>
        </li>
        <li>
            <a ng-click="index.whatDay('Wednesday')">
                <p>Wednesday</p>
            </a>
        </li>
        <li>
            <a ng-click="index.whatDay('Thursday')">
                <p>Thursday</p>
            </a>
        </li>
        <li>
            <a ng-click="index.whatDay('Friday')">
                <p>Friday</p>
            </a>
        </li>
        <li>
            <a ng-click="index.whatDay('Saturday')">
                <p>Saturday</p>
            </a>
        </li>
        <li>
            <a ng-click="index.whatDay('Sunday')">
                <p>Sunday</p>
            </a>
        </li>
    </ul>
</div>